:root {
    --primary-color: rgb(255, 41, 237);
    --hover-color: rgb(225, 241, 37);
    --highlight-color: white;
    --item-bg-color: white;
    --item-hover-bg-color: yellow;
    --box-shadow-color: rgb(255, 0, 0);
}

.aside-navigate {
    position: fixed;
    top: 0;
    right: 20px;
    width: 50px;
    height: 100%;
    display: flex;
    z-index: 1;
    align-items: center;
}

.aside-navigate::before {
    width: 0;
}

.aside-navigate-cont {
    padding: 0;
    flex-direction: column;
}

.aside-navigate-item {
    position: relative;
    color: var(--highlight-color);
    height: 40px;
    width: 40px;
    margin: 6px auto;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(0);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}
.aside-navigate-item label{
position: absolute;
left: -86px;
transform: scale(0);
transition: 0.5s ease-in-out;
z-index: 3;
background: inherit;
backdrop-filter: blur(3px);
/* background-color: green; */
padding: 9px 3px;
width: 80px;
box-shadow: -3px 0px 5px 0px  yellow;
border-radius: 6px 0px 0px 6px;
}
.aside-navigate-item:hover {
    transform: scale(1.18) !important;
    box-shadow: 0 0 6px 0 var(--hover-color) inset;
    color: var(--item-hover-bg-color);
}

.aside-navigate-item:hover label {
    transform: scale(1);
}
.aside-navigate-item div {
    display: flex;
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 var(--box-shadow-color) inset;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.5s ease-in-out;
}

.aside-navigate-item:hover div {
    box-shadow: 0 0 5px 0 var(--highlight-color);
}

.aside-navigate-item div svg {
    width: 70%;
    height: 70%;
}



@media screen and (max-width: 768px){
    .aside-navigate {
        top: 7px;
        height: 50px;
        /* background-color: red; */
    }
    
    .aside-navigate-cont{
        transform: scale(0);
    }

    .Meniu-btn{
        width: 100%;
        height: 100%;
        max-width: 50px;
        max-height: 50px;
        min-width: 50px;
        min-height: 50px;
        /* background-color: green; */
        display: flex;
        align-items: center;
        justify-content: center;
        color:  wheat;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    .Meniu-btn:hover{
        transform: scale(1.15);
        color: yellow;
    }
    .Meniu-btn svg{
        width: 45px !important;
        height: 45px !important;
    }
}