:root {
    --primary-color: rgb(255, 41, 237);
    --hover-color: rgb(225, 241, 37);
    --highlight-color: white;
    --item-bg-color: white;
    --item-hover-bg-color: yellow;
    --box-shadow-color: rgb(255, 0, 0);
}

.aside-navigate {
    position: fixed;
    top: 0;
    right: 20px;
    width: 50px;
    height: 100%;
    display: flex;
    z-index: 1;
    align-items: center;
}

.aside-navigate::before {
    width: 0;
}

.aside-navigate-cont {
    padding: 0;
    flex-direction: column;
}

.aside-navigate-item {
    color: var(--highlight-color);
    height: 40px;
    width: 40px;
    margin: 6px auto;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.aside-navigate-item:hover {
    transform: scale(1.18);
    box-shadow: 0 0 6px 0 var(--hover-color) inset;
    color: var(--item-hover-bg-color);
}

.aside-navigate-item div {
    display: flex;
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 var(--box-shadow-color) inset;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.5s ease-in-out;
}

.aside-navigate-item:hover div {
    box-shadow: 0 0 5px 0 var(--highlight-color);
}

.aside-navigate-item div svg {
    width: 70%;
    height: 70%;
}
