.form {
    display: flex;
    width: 38%;
    max-width: 320px;
    height: auto;
    background: initial;
    margin-top: 25px;
    margin-left: 12px;
    margin-right: 11px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 150px rgb(255, 255, 255, 0.1) inset, 0px 0px 3px rgb(0, 255, 255);
    border-radius: 10px;
    padding: 12px;
    flex-direction: column;
    align-items: center;
}


.line-cont {
    margin: 5px auto;
    display: flex;
    align-items: center;
}

.line-cont svg {
    width: 26px;
    height: 26px;
    padding: 3px;
    margin: 0px;
    border-bottom: 1px solid yellow;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 3px 0px 0px 3px;
}



.btn-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.btn-cont button {
    font-size: large;
    padding: 8px 20px;
    float: right;
    background: none;
    margin: 6px;
    border-radius: 6px;
    font-weight: bolder;
    transition: 0.3s ease-in-out;

    cursor: pointer;
    color: white;
}

.btn-cont button:hover {
    color: yellow;
    transform: scale(1.04);
}

.form input {
    padding: 8px;
    margin: 5px auto;
    flex-grow: 1;
    background: initial;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: none;
    outline: none;
    box-shadow: 1px 1px 1.5px 0px rgb(255, 232, 20);
    text-align: center;
    transition: 0.3s ease-in-out;
    border-radius: 0px 3px 3px 0px;
    color: white;
}

.form input:focus {
    box-shadow: 0px 1px 1.5px 0px rgb(53, 41, 27);
}

.form input::placeholder {
    color: rgba(243, 245, 200, 0.3);
}

.form input:focus::placeholder {
    color: rgb(246, 255, 0);
}

.form label {
    flex-grow: 1;
    padding: 3px;
    flex-grow: 1;
}




.form h2 {
    font-size: 24px;
    padding: 4px;
    margin: 3px auto;
    transform: none;
    font-weight: 700;
    color: white;
}

/* .add-post h3 {
    margin: 4px auto;
    font-weight: 700;
    font-size: 25px;
    transform: none;
} */

.auth {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5px;
    flex-wrap: wrap;
}

.auth svg {
    margin: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.auth svg:hover {
    margin: 5px;
    width: 30px;
    height: 30px;
    transform: scale(1.05);
}

.auth h3 {
   font-size: large;
   font-weight: bold;
   width: 100%;
   text-align: left;
   color: rgb(255, 0, 0);
   padding-left: 11px;
   margin-bottom: 12px;
}

.signup {
    transform: scale(0) translateX(-300px); 
    transition: 0.5s ease-in-out;
  }
  .signup.add {
    transform: scale(1) translateX(0px) !important; 
  }
  
  .login {
    transition: 0.5s ease-in-out;
    transform: scale(1); 
  }
  
  .login.add {
    transform: scale(0) translateX(-300px); 
  }
  


.signup .line-cont {
    width: 90%;
}
.signup .line-cont label {
    flex-grow: 0.5;
}
.signup .line-cont input {
   flex-grow: 1;
}