




.Home-container {
    background-image: url(../../img/BG_New.webp);
    background-position: center;
}

h1{
    font-size: 45px;
    text-align: left;
    padding: 4px;
    color: rgb(238, 255, 0);
    font-weight:900;
    display: inline;
    margin-left: 20px;
    margin-top: 25px; 
    float: left;
    transform: scale(0);
    transition: 0.8s ease-in-out;

}
h2{
    font-size: 25px;
    text-align: left;
    padding: 4px;
    color: rgb(0, 238, 255);
    font-weight: 400;
    display: inline;
    margin-left: 20px;
    margin-top: 8px; 
    transform: translate(-300px);
    float: left;
    transition: 0.6s ease-in-out;

}

p{
    backdrop-filter: blur(3px);
    font-size: 24px;
    width: 80%;
    margin: 0px auto;
    margin-top: 25px;
    font-weight: 600;
    padding: 15px;
    /* text-align: left; */
    text-align: justify;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 2px 4px -2px white;
    transform: scale(0);
    transition: 0.8s ease-in-out;
}

b{
    font-size: 28px;
    font-weight: 900;
    color:yellow;
    padding: 2px;
}

.title-cont {
    display: flex;
    flex-direction: column;
}

.anime-con{
    float: left;
    display: inline;
    width: 100%;
    margin-top: 25px;
    margin-left: 10px;
    padding: 4px;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.anime-con div{
    transform: scale(0);
    transition: 0.7s ease-in-out;

}
.anime-con svg{
    margin: 0px 5px;
    width: 25px;
}


@media screen and (max-width: 768px){

    
p{
    backdrop-filter: blur(3px);
    font-size: 100%;
    width: 94%;
    margin: 0px auto;

    margin-top: 12px;
    font-weight: 400;
    padding: 8px;

    border-radius: 0px;

    box-shadow: 0px 3px 7px -3px white;
    text-align: justify;
}

b{
    font-size: 105%;
    font-weight: 600;
}
h1{
    font-size: 30px;
    margin-left: 12px;
    margin-top: 15px; 
    padding: 0;

}
h2{
    font-size: 18px;
    margin-top: 5px; 
    padding: 0;
}
.anime-con{
width: 96%;
padding: 0px 2%;
margin: auto;
margin-top: 25px;
display: flex;
flex-wrap: wrap;
}
.anime-con svg{
    margin: 5px;
}

}