
.Blog-container{
    
        background-image: url(/src/img/Contact_bg.jpg);
      
      }

.main-info{

    width: auto;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 90px;
    background: inherit;
    backdrop-filter: blur(4px);
}

.profile-avatar{
    width: 60px;
    margin: 0px 10px;
}

.main-info h2{
    margin-left: 0;

}

.main-info h1{
    margin-left: 0;
display: flex;}