.add-post {
}

.line-cont{
    margin: 5px auto;
    display: flex;


}
.write-post{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.write-post textarea{
    width: 90%;
    max-width: 95%;
    min-width: 70%;
    float: right;
        margin: auto;
        padding: 4px;
        min-height: 65px;
        outline: none;
        background: none;
        box-shadow: 0px 0px 2px 0px wheat;
        border-radius:  0px 0px 10px 10px;
        margin-top: 12px;
        background-color: rgb(255, 228, 196 , 0.2);
}


.btn-cont{
    display: flex;
    justify-content: flex-end;
}

.btn-cont button {
     padding: 6px 12px;
     float:right;
     background: none;
     margin: 6px;
     border-radius: 6px;
     font-weight: bolder;
     cursor: pointer;
}

.btn-cont button:hover {
    color: white;
}

.add-post input{
    padding: 5px;
    margin: 3px;
    flex-grow: 1;
    background: initial;
    backdrop-filter: blur(2px);
    border: none;
    outline: none;
    box-shadow: 0px 1px 1.5px 0px rgb(255, 232, 20) ;
    text-align: center;   
    transition: 0.3s ease-in-out;
    border-radius: 3px;
}

.add-post input:focus{
    box-shadow: 0px 1px 1.5px 0px rgb(53, 41, 27) ;
}

.add-post textarea::placeholder{
    color: white;
}
.add-post input::placeholder{
    color: white;
}

.add-post label{
    padding: 3px;
    flex-grow: 1;
}


.select-category{
        background:inherit;
        /* max-width: 80%; */
        float: right;
        margin-top: 10px;
        outline: none;
        border: none;
        box-shadow: 0px -2px 3px 0px bisque inset;
        cursor: pointer;
        border-radius: 3px;
        flex-grow: 1; 
        padding: 8px;
        width: 80%;
        backdrop-filter: blur(4px);
}
.select-category:hover{
    box-shadow: 0px 0px 1px 0px rgb(53, 41, 27);
}
